@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&family=Varela+Round&display=swap');
body{
    background-color: antiquewhite;
}

*
{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

nav
{
    font-family: 'Ubuntu', sans-serif;
}

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 50px;
    background-color: black;
    color: white;
    
}
nav ul li{
    padding: 0 12px;
}

.brand img{
    width: 44px;
    padding: 0 8px;
}

.brand
{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

.container
{
    min-height: 72vh;
    /* background-color: black; */
    color: white;
    font-family: 'Varela Round',sans-serif;
    display: flex;
    margin: 23px auto;
    width: 70%;
    border-radius: 12px;
    padding: 34px;
    background-image:url('bg.jpg');
    background-repeat: no-repeat;
    background-size: 150vh;
}

.bottom
{
    position: sticky;
    height: 100px;
    background-color: black;
    color: white;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.icons
{
    margin-top: 14px;
}

.icons i{
    cursor: pointer;
}

#myProgressBar{
    width: 80vw;
    cursor: pointer;
}

.songItem
{
    height: 50px;
    display: flex;
    background-color: white;
    color: black;
    width: 80%;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;
}

.songItem img{
    width: 43px;
    margin:0 23px;
    border-radius: 34px;
}

.timestamp
{
    margin: 0 23px;
}

.timestamp i{
    cursor: pointer;
}

.songsItemContainer{
    margin-top: 24px;
}

.songInfo
{
    position: absolute;
    left: 10vw;
    font-family: 'Varela Round',sans-serif;
}

.songInfo img
{
    opacity: 0;
    transition:0.4 ease;
}
@media (min-width: 640px) and (max-width: 768px) {
    .icons i {
        font-size: 1em; /* Adjust font size for smaller screens */
        /* margin-top: 1rem; */
        margin-top: 0.7em;
    }

    #masterSongName
    {
        font-size: 0.7em;
        margin-left: 10.5rem;
    }

    .bottom
    {
        position: sticky;
        height: 5rem;
        background-color: black;
        color: white;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    
    }

    .container
    {
        min-height: 60vh;
        /* background-color: black; */
        color: white;
        font-family: 'Varela Round',sans-serif;
        display: flex;
        margin: 23px auto;
        width: 80%;
        border-radius: 12px;
        padding: 34px;
        background-image:url('bg.jpg');
        background-repeat: no-repeat;
        background-size: 150vh;
    }

    .container h1
    {
        font-size: 1rem;
        margin-top: -1.5rem;
    }


    .songItem
    {
        height: 40px;
        display: flex;
        background-color: white;
        color: black;
        width: 100%;
        margin: 19px 0;
        justify-content: space-between;
        align-items: center;
        border-radius: 34px;
    }

    .songItem img{
        width: 31px;
        margin:0 23px;
        border-radius: 34px;
    }
}



@media (min-width: 320px) and (max-width: 580px) {
    .icons i {
        font-size: 1.5em; /* Adjust font size for smaller screens */
        /* margin-top: 1rem; */
        margin-top: 0.8em;
    }

    #masterSongName
    {
        font-size:1em;
        margin-left: 8rem;
        margin-top:-3rem;
    }

    .bottom
    {
        position: sticky;
        height: 5rem;
        background-color: black;
        color: white;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    
    }

    .container
    {
        min-height:70vh;
        height: 75%;
        /* background-color: black; */
        color: white;
        font-family: 'Varela Round',sans-serif;
        display: flex;
        margin: 23px auto;
        width: 75%;
        border-radius: 12px;
        padding: 34px;
        background-image:url('bg.jpg');
        background-repeat: no-repeat;
        background-size: 75vh 90vw;

    }

    .container h1
    {
        font-size: 1rem;
        margin-top: -1.5rem;
    }


    .songItem
    {
        height: 40px;
        display: flex;
        background-color: white;
        color: black;
        width: 60%;
        margin: 37px 0;
        /* justify-content: space-around; */
        /* align-items: center; */
        /* text-align: center; */
        border-radius: 34px;
        font-size: 0.7rem;
    }

    .songItem img{
        width: 31px;
        margin:0 23px;
        border-radius: 34px;
    }

    .timestamp
        {
            margin: 0 23px;
        }

    .songItemPlay{
        margin: 0 23px;
    }

    #myProgressBar{
        width: 90vw;
        cursor: pointer;
    }
    
}
